---
- hosts: all
  become: true
  vars:
    created_username: alex

  tasks:
    - name: Set buildplatform
      set_fact: 
        BUILDPLATFORM: amd_64
        COMPOSE_DOCKER_CLI_BUILD: 1
        DOCKER_BUILDKIT: 1
    - name: Install aptitude
      apt:
        name: aptitude
        state: latest
        update_cache: true
          

    - name: Update and install packages
      apt:
        pkg:
          - curl
          - vim
          - git
          - ufw
          - nginx  
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - python3-pip
          - virtualenv
          - python3-setuptools
        state: latest
        update_cache: true

    - name: Add Docker GPG apt Key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repository
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu focal stable
        state: present

    - name: Update apt and install docker-ce
      apt:
        name: docker-ce
        state: latest
        update_cache: true

    - name: Install Docker Module for Python
      pip:
        name: docker

    - name: Update apt and install docker-compose
      apt:
        name: docker-compose
        state: latest
        update_cache: true

    - name: Clone git repo kagg
      tags:
      - updateweb
      ansible.builtin.git:
        repo: 'https://github.com/gurkslask/lkhugo'
        dest: /srv/checkout/kagg
        force: true

    - name: Tear down existing services
      tags:
      - updateweb
      community.docker.docker_compose_v2:
        project_src: /srv/checkout/kagg/kagg
        state: absent
        
    - name: Create and start services
      tags:
      - updateweb
      community.docker.docker_compose_v2:
        project_src: /srv/checkout/kagg/kagg
      register: output

    - name: Clone git repo codenames
      tags:
        - codenames
      ansible.builtin.git:
        repo: 'https://github.com/gurkslask/codenames-flask'
        dest: /srv/checkout/codenames-flask
        force: true

    - name: Tear down existing services codenames
      tags:
        - codenames
      community.docker.docker_compose_v2:
        project_src: /srv/checkout/codenames-flask
        state: absent

    - name: Create and start services codenames
      tags:
        - codenames
      community.docker.docker_compose_v2:
        project_src: /srv/checkout/codenames-flask
      environment:
        COMPOSE_DOCKER_CLI_BUILD: 1
        DOCKER_BUILDKIT: 1
            
    - name: Clone git repo ritmonflow
      tags:
        - ritmonflow
      args:
      ansible.builtin.git:
        repo: 'https://github.com/gurkslask/ritmoyflow'
        dest: /srv/checkout/ritmonflow
        force: true

    - name: Tear down existing services ritmonflow
      tags:
        - ritmonflow
      community.docker.docker_compose_v2:
        project_src: /srv/checkout/ritmonflow/ritmoyflow
        state: absent

    - name: Create and start services ritmonflow
      tags:
        - ritmonflow
      community.docker.docker_compose_v2:
        project_src: /srv/checkout/ritmonflow/ritmoyflow
      environment:
        COMPOSE_DOCKER_CLI_BUILD: 1
        DOCKER_BUILDKIT: 1



        

